.App {
  background-image: linear-gradient(135deg, #5efce8 10%, #736efe 100%);
  height: 100vh;
}

.container .row {
  height: 50vh;
}

.weatherInfo {
  background-color: whitesmoke;
  height: 50vh;
  padding: 20px;
  border-radius: 3%;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.titles span {
  font-size: 25px;
  font-weight: 600;
}

.weatherInfo ul {
  list-style: none;
}
.weatherInfo p {
  margin: 0;
}

.weather {
  display: flex;
  padding: 20px;
  padding-bottom: 10px;
  max-height: 100%;
}

.weather svg {
  font-size: 50px;
}

.sunny {
  color: yellowgreen !important;
}
.cloudy {
  color: gray !important;
}
.weatherInfo p span {
  font-size: 30px;
  font-weight: 700;
}
.clouds {
  background-image: url("https://media2.giphy.com/media/5HK4TiiBeLSZq/giphy.gif?cid=ecf05e474844802c81184b68d06ad3ec0fc880b149ffdb9e&rid=giphy.gif");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

.few_clouds {
  background-image: url("https://media0.giphy.com/media/QwtMHd2Z8dlb5FFIdq/giphy.gif?cid=ecf05e47a559b2619fafe8c431c2819248b32638b3c35036&rid=giphy.gif");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

.rainy {
  background-image: url("https://media1.giphy.com/media/v2h2JjF4T0652/giphy.gif?cid=ecf05e47h55hwze2mg96kvt2wekexwnsrmc46xjrvilmchmc&rid=giphy.gif");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

.sunnyBG {
  background-image: url("https://i.pinimg.com/originals/e1/3a/4d/e13a4d737425141353603f7a3edb73cd.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

#weekButton {
  background-color: gray;
  border: 0;
}

#weekButton:hover {
  text-decoration: underline;
}

.weekDays {
  height: 40vh;
  border-radius: 3%;
  margin-top: 10px;
  padding: 15px;
  display: flex;
  overflow-x: auto;
}

.weekDays p {
  margin: 0;
}

.weekDays ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.weekDays::-webkit-scrollbar {
  width: 1em;
}

.weekDays::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.weekDays::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.titles svg {
  font-size: 25px;
  margin: 10px;
}
